body{
    background-color: #231b13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    cursor: url("images/match.png") 20 20, auto;
}

/*.matchLight {
    position: fixed;
    inset: 0;
    pointer-events: none;

    background: radial-gradient(circle 180px at var(--x) var(--y),
        rgba(255, 245, 200, 0.55) 0%,
        rgba(255, 220, 120, 0.18) 40%,
        rgba(0, 0, 0, 0.95) 100%
    );
}*/

.matchLight {
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.97);
    z-index: 1000;

    mask: radial-gradient(circle 180px at calc(var(--x) + 1px) calc(var(--y) - 20px),
        transparent 0,
        transparent 80px,
        black 170px);

    -webkit-mask: radial-gradient(circle 180px at calc(var(--x) + 1px) calc(var(--y) - 20px),
        transparent 0,
        transparent 80px,
        black 170px);
}



h1{
    font-size: 300px;
    text-align: center;
    color:rgb(156, 155, 106);
    margin-bottom: 10px;
}

.h1A{
    font-size: 300px;
    text-align: center;
    color:rgb(16, 27, 50);
    margin-top: 0px;
    margin-bottom: 10px;
}

button {
    color: rgb(6, 6, 0);
    transition: 0.25s;
    
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;

    cursor: pointer;
}

button:hover,
button:focus {
    border-color: var(--hover);
    color: rgb(154, 130, 130);
}

button.return{
    position: fixed;
    top: 20px;
    left: 20px;

    border: 2px solid rgb(115, 10, 21);
    background-color: transparent;
    background: none;
    border-radius: 50%;
    color: rgb(115, 10, 21);
    font-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    padding: 0px;
    margin: 0px;

    transition: background-color 0.3s, color 0.3s;
    cursor: url("images/match.png") 20 20, auto;
}

button.return:hover {
    background-color: rgb(115, 10, 21);
    color: #cac5c5;
}

div.choices{
    display: flex;
    gap: 20px;
}